<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container" style="margin-top: 80px;">

    <%= render 'layouts/notification' %>

      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <%= render 'layouts/sidebar'%>
        </div> <!-- sidebar -->

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <%= yield %>
        </div>
      </div> <!-- Row -->
    </div> <!-- Container -->
  </body>
</html>
